@font-face {
  font-family: "BebasNeue";
  src: url("../fonts/BebasNeue\ Regular.ttf");
}
@font-face {
  font-family: "BebasNeueBold";
  src: url("../fonts/BebasNeue\ Bold.ttf");
}

#menu {
}
.menu {
  background-color: #589bc6;
  font-family: "BebasNeueBold", sans-serif;
}
span {
  color: #192e42;
  font-weight: bold;
}

.list {
  list-style-type: none;
}
.img {
  border-radius: 30px;
}

.img__lower {
  position: relative;
  top: 50px;
}
.menu-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  height: 30%;
  padding: 25px;
  margin: 0;
}

.menu-buttons {
  font-size: 40px;
  padding-right: 25px;
  padding-left: 25px;
}

.menu-buttons a {
  text-decoration: none;
  color: white;
  transition: all 0.6s ease;
}

.menu-buttons a:hover {
  color: rgb(28, 66, 110);
}

.wrapper {
  max-width: 1110px;
  margin-right: auto;
  margin-left: auto;
}

.intro {
  position: relative;
  width: 100%;

  font-size: 24px;
  font-family: "BebasNeue", sans-serif;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-evenly;
}

.intro-title {
  color: #589bc6;
  font-size: 95px;
  z-index: 1;
  width: 100%;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.intro::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url(https://media.istockphoto.com/vectors/internet-technology-and-programming-seamless-background-with-linear-vector-id961929396);

  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
}

.intro-description {
  color: #589bc6;
  font-size: 45px;
  text-align: center;
  line-height: 55px;
  width: 100%;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 100px;
}

#about {
}
.about {
  background-color: #f6fbff;
}
.sign {
  margin: 0;
  font-size: 20px;
  text-align: center;
}

.section-title {
  text-align: center;
  font-size: 55px;
  font-family: "BebasNeue", sans-serif;
  color: #589bc6;
  margin: 0;
  padding-top: 5%;
}
.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 1%;
}

.container-col {
  width: 45%;
  font-size: 27px;
  font-family: "BebasNeue", sans-serif;
  color: #589bc6;
  line-height: 35px;
  flex-shrink: 1;
  flex-grow: 1;

  text-align: justify;
}

.container-col p {
  margin-bottom: 0;
}

.section-list {
  padding-left: 0;
}
.container-lower-col {
  font-size: 27px;
  font-family: "BebasNeue", sans-serif;
  color: #589bc6;
  line-height: 35px;
  padding-bottom: 5%;
  padding-top: 30px;
  text-align: justify;
}
#request {
}
.request {
  background-color: #589bc6;
}
.link {
  text-decoration: none;
  color: #306688;
}
.link:hover {
  color: #ffffff;
}
.container-col__light {
  color: white;
  padding-bottom: 5%;
}
.container-col__light:nth-child(even) {
  padding-left: 30px;
}

.section-title__light {
  color: white;
}
#security {
  background-color: #f6fbff;
}
.btn {
  width: 100px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
  border: none;

  background-color: #306688;
  position: fixed;
  top: 91%;
  left: 91%;
  border-radius: 20px;
}

.btn:hover {
  background-color: #819daf;
}
.footer {
  background-color: #589bc6;
  text-align: center;
}

.footer-info {
  font-family: "BebasNeueBold", sans-serif;
  font-size: 35px;
  color: white;
  padding-top: 15px;
  margin: 0;
}
.footer-info:nth-child(even) {
  padding-bottom: 1rem;
  font-size: 30px;
  border-top: solid #306688 1px;
}

Img {
  max-width: 90%;
  flex-grow: 1;
  border-radius: 30px;
  display: block;
  margin: auto;
}

@media (max-width: 479px) {
  .container-col {
    width: 100%;
    font-size: 20px;
    line-height: 23px;
  }
  .container-col__light:nth-child(even) {
    padding-left: 0;
  }
  .container-lower-col {
    font-size: 20px;
    line-height: 23px;
  }
  .wrapper {
    margin-right: 10%;
    margin-left: 10%;
  }
  .intro-title {
    font-size: 45px;

    padding-top: 50px;
    padding-bottom: 50px;
  }
  .intro-description {
    font-size: 30px;

    line-height: 45px;
    width: 100%;
    width: 100%;
    padding-top: 35px;
    padding-bottom: 75px;
  }
  .menu-buttons {
    padding-right: 10px;
    padding-left: 10px;
    flex-grow: 1;
    flex-shrink: 1;
    font-size: 20px;
  }
  .btn {
    padding-top: 5px;
    width: 50px;
    height: 25px;
    top: 95%;
    left: 80%;
  }
  .img__lower {
    position: static;
  }
  Img {
    max-width: 100%;
    flex-grow: 1;
  }
  Img:nth-child(even) {
    height: 80%;
    max-width: 90%;
  }
  .intro::before {
    background-image: url(https://img1.akspic.ru/originals/2/0/7/9/29702-shema_podklyucheniya-tehnologia-elektricheskie_seti-tekst-liniya-1080x1920.jpg);
  }
  .section-title {
    font-size: 45px;
  }
  .footer-info {
    font-size: 25px;

    padding-top: 10px;
  }
  .footer-info:nth-child(even) {
    padding-bottom: 15px;
    font-size: 20px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .container-col {
    width: 100%;

    font-size: 20px;
    line-height: 23px;
  }
  .container-col__light {
    padding-left: 0px;
  }
  .intro--title {
    font-size: 50px;

    padding-top: 50px;
    padding-bottom: 50px;
  }
  .intro--description {
    font-size: 35px;

    line-height: 45px;
    width: 100%;
    width: 100%;
    padding-top: 35px;
    padding-bottom: 75px;
  }
  .intro::before {
    background-image: url(https://img1.akspic.ru/originals/2/0/7/9/29702-shema_podklyucheniya-tehnologia-elektricheskie_seti-tekst-liniya-1080x1920.jpg);
  }
  .wrapper {
    margin-right: 10%;
    margin-left: 10%;
  }
  .btn {
    padding-top: 5px;
    width: 50px;
    height: 25px;
    top: 95%;
    left: 80%;
  }
  .img__lower {
    position: static;
    display: block;
    margin: 0 auto;
  }
  .container-lower-col {
    font-size: 20px;
    line-height: 23px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .intro::before {
    background-image: url(https://img1.akspic.ru/originals/2/0/7/9/29702-shema_podklyucheniya-tehnologia-elektricheskie_seti-tekst-liniya-1080x1920.jpg);
  }
  .container-col {
    width: 100%;
  }
  .container-col__light:nth-child(even) {
    padding-left: 0px;
  }

  .wrapper {
    margin-right: 10%;
    margin-left: 10%;
  }
  .btn {
    padding-top: 5px;
    width: 50px;
    height: 25px;
    top: 95%;
    left: 80%;
  }
  .img__lower {
    position: static;
  }
  .img {
    display: block;
    margin: 0 auto;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .wrapper {
    margin-right: 5%;
    margin-left: 5%;
  }
  Img {
    max-width: 100%;
    flex-grow: 1;
  }
  /* .img__pads {
    width: 50%;
  } */
  .img__lower {
    position: static;
  }
  .container-col__center {
    width: 100%;
  }
  .container-col__center:nth-child(1) {
    text-align: center;
  }
}
